<?xml version="1.0"?>
<menu>
	<chasy>
		<data></data>
		<vremya></vremya>
		<korekciyaHoda value="15.00" passwordcheck="true"></korekciyaHoda>
	</chasy>
    <izmereniya>
		<napryageniya text="Íàïðÿæåíèÿ...">
			<uav_h text="UAÂ Í =" value="1" unitText="Â"></uav_h>
			<uav_kz text="UAÂ ÊÇ =" value="0.6" unitText="Â"></uav_kz>
			<ubc_h text="UÂC Í =" value="0.1" unitText="Â"></ubc_h>
			<ubc_kz text="UBC ÊÇ =" value="0" unitText="Â"></ubc_kz>
		</napryageniya>
		<toki text="Òîêè...">
			
		</toki>
	</izmereniya>
	<nastroyka></nastroyka>
	<konfiguraciya></konfiguraciya>
	<avariya></avariya>
	<diagnostika></diagnostika>
	<mtz></mtz>
	<apv></apv>
	
</menu>